{% extends 'base.twig' %}

{% block title %}Add expense{% endblock %}

{% block footer %}

<script src="../js/limit.js"></script>

{% endblock %}

{% block nav_item_3 %}active{% endblock %}

{% block body %}   

    <main>
	
		<div class="inputContainer mt-3 mb-0">			
			
			<header>
				<h2 class="font-weight-bold rounded bg-secondary">New expense<i class="icon-basket ml-3"></i></h2>
			</header>
		
			<form action="/expense/create" method="post" id="expenseForm">			
				
				<input type="number" class="form-control" step="0.01" min="0.01" name="amount" value="{{ expense.amount }}" placeholder="&#xE80C; Amount" style="font-family: 'Fontello'; width: 100%;" required  id="amountInput"/>

				<input type="date" class="form-control mx-auto" style="font-family: 'Fontello';" name="date" value="{{ currentDate }}" required  id="dateInput"/>

				<select class="choice rounded" name="method" style="font-family: 'Fontello'; width: 100%;" required />
					{% if paymentMethods %}
						<option value selected disabled hidden>&#xF1F0; Choose payment method</option>
							{% for paymentMethod in paymentMethods %} 
								<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option>
							{% endfor %}
					{% else %}
						<option value selected disabled hidden>&#9785; No payment method</option>
					{% endif %}      
				</select>

				<select class="choice rounded" name="category" style="font-family: 'Fontello'; width: 100%;" required id="categorySelect">						
					{% if expenseCategories %}	
						<option value selected disabled hidden>&#xE807; Select a category</option>
							{% for  expenseCategory in  expenseCategories %}                             
								<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
							{% endfor %}
					{% else %}
                        <option value selected disabled hidden>&#9785; No expense category</option>
                    {% endif %}      		
				</select>

				<input type="text" class="form-control" name="comment" value="{{ expense.comment }}" placeholder="&#xE808; Comment (optional)" style="font-family: 'Fontello'; width: 100%;" id="comment"/>

				<a href="/expense/index"><button  type="button" class="btn btn-secondary btn-lg float-left mt-3 mb-3" style="width: 49%;">Cancel</button></a>
				<button  type="submit" class="btn btn-success btn-lg  float-right mt-3" style="width: 49%;">Add</button>
									
			</form>			
			
		</div>		
		
		<div class="row mx-0">				
			<form style="display: none; font-size: 20px; border: 1px solid #209781; background-color: #26282E;" class="bg-none mx-auto py-2 rounded col-md-10 col-lg-9 col-xl-6 col-11 mb-5 mt-0" id="limitForm">
				<label for "limitInfo" id="limitInfoLabel" class="mb-0 text-white">Month limit (category required)</label>		
				<input type="number" name="limitInfo" id="limitInfo" placeholder="No limit" class="rounded mt-0 mb-1 text-white bg-none" readonly/>
				
				<label for "cashSpent" id="cashSpentLabel" class="mb-0 text-white">Cash spent in the selected month <span id="cashSpentDescription">(category & date required)<span></label>						
				<input type="number" name="cashSpent" id="cashSpent" class="rounded mt-0 mb-1 text-white bg-none" placeholder="No expenses" readonly />
				
				<div class="progress" id="cashSpentProgressBig" style="font-size: 18px; height: 25px; border: 1px solid  #209781;">
  				<div id="cashSpentProgress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				
				<label for "cashLeft" id="cashLeftLabel" class="mb-0 text-white">Cash left after current expense <span id="cashLeftDescription">(limit, category & date required)</span></label>		
				<input type="number" name="cashLeft" id="cashLeft" class="rounded mt-0 mb-1 text-white bg-none border-0" readonly />
				
				<div class="progress" id="cashLeftProgressBig" style="font-size: 18px; height: 25px; border: 1px solid  #209781;">
  				<div id="cashLeftProgress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</form>
		</div>		
					
	</main>	

{% endblock %}    