{% extends 'base.twig' %}

{% block title %}Add expense{% endblock %}

{% block nav_item_3 %}active{% endblock %}

{% block body %}   

    <main>
	
		<div class="inputContainer mt-3">			
			
			<header>
				<h2 class="font-weight-bold rounded bg-secondary">New expense<i class="icon-basket ml-3"></i></h2>
			</header>
		
			<form action="/expense/create" method="post">	
				
				<input type="number" class="form-control" step="0.01" min="0.01" name="amount" value="{{ expense.amount }}" placeholder="&#xE80C; Amount" style="font-family: 'Fontello'; width: 100%;" required />

				<input type="date" class="form-control mx-auto" style="font-family: 'Fontello';" name="date" value="{{ currentDate }}" required />

				<select class="choice rounded" name="method" style="font-family: 'Fontello'; width: 100%;" required />
					{% if paymentMethods %}
						<option value selected disabled hidden>&#xF1F0; Choose payment method</option>
							{% for paymentMethod in paymentMethods %} 
								<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option>
							{% endfor %}
					{% else %}
						<option value selected disabled hidden>&#9785; No payment method</option>
					{% endif %}      
				</select>

				<select class="choice rounded" name="category" style="font-family: 'Fontello'; width: 100%;" required>						
					{% if expenseCategories %}	
						<option value selected disabled hidden>&#xE807; Select a category</option>
							{% for  expenseCategory in  expenseCategories %}                             
								<option value="{{ expenseCategory.id }}">{{  expenseCategory.name }}</option> 
							{% endfor %}
					{% else %}
                        <option value selected disabled hidden>&#9785; No expense category</option>
                    {% endif %}      		
				</select>

				<input type="text" class="form-control" name="comment" value="{{ expense.comment }}" placeholder="&#xE808; Comment" style="font-family: 'Fontello'; width: 100%;" />

				<a href="/expense/index"><button  type="button" class="btn btn-secondary btn-lg float-left mt-3" style="width: 94px;">Cancel</button></a>
				<button  type="submit" class="btn btn-success btn-lg  float-right mt-3" style="width: 94px;">Add</button>
									
			</form>		
			
		</div>
		
	</main>

{% endblock %}    