{% extends 'base.twig' %}

{% block title %}Balance{% endblock %}

{% block footer %}		

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script type="text/javascript">
			{% if expenseCategoriesFromSelectedPeriod %}
				google.charts.load("current", {packages:["corechart"]});
				google.charts.setOnLoadCallback(drawChart1);
			
				function drawChart1() {
					var data = google.visualization.arrayToDataTable([
					['Category', 'Expense Amount'],
						{% for expenseCategoryFromSelectedPeriod in expenseCategoriesFromSelectedPeriod %}
							['{{ expenseCategoryFromSelectedPeriod.name }}', {{ expenseCategoryFromSelectedPeriod.amountOfExpenses | number_format(2, '.', '')}}],
						{% endfor %}
					]);

					var options = {
					legend: {position: 'bottom', textStyle: {color: 'white', fontSize: 16}},
					title: 'Expense structure',
					titleTextStyle: {color:'#FFC107', fontSize: 24},  	  
					is3D: true,
					backgroundColor: 'transparent',		  
					};

					var chart = new google.visualization.PieChart(document.getElementById('chartContainer2'));
					chart.draw(data, options);
				}
			{% endif %}

			{% if incomeCategoriesFromSelectedPeriod %}
			google.charts.load("current", {packages:["corechart"]});
			google.charts.setOnLoadCallback(drawChart2);

				function drawChart2() {
					var data = google.visualization.arrayToDataTable([
					['Category', 'Income Amount'],
						{% for incomeCategoryFromSelectedPeriod in incomeCategoriesFromSelectedPeriod %}
							['{{ incomeCategoryFromSelectedPeriod.name }}', {{ incomeCategoryFromSelectedPeriod.amountOfIncomes | number_format(2, '.', '')}}],
						{% endfor %}
					]);

					var options = {
					legend: {position: 'bottom', textStyle: {color: 'white', fontSize: 16}},
					title: 'Income structure',
					titleTextStyle: {color:'#0D6EFD', fontSize: 24},		  	  
					is3D: true,
					backgroundColor: 'transparent',		  
					};

					var chart = new google.visualization.PieChart(document.getElementById('chartContainer1'));
					chart.draw(data, options);
				}
			{% endif %}

			const el = document.getElementById('selectPeriod');
			const box = document.getElementById('dateRange');
			el.addEventListener('change', function handleChange(event) {
				if (event.target.value === 'custom_period') {
					box.style.display = 'block';
				} else {
					box.style.display = 'none';
				}
			});

			const setColorOfBalanceProgress = () => {
				const balance = document.querySelector(`#balance`).innerHTML;
				if((balance < 0)){					
					document.querySelector(`#balanceProgressFieldset`).className = "border-warning rounded";
					document.querySelector(`#balanceProgressBig`).className = "progress bg-warning border-warning rounded";
					document.querySelector(`#balanceVs`).className = "text-warning";   
				}else{
					document.querySelector(`#balanceProgressFieldset`).className = "border-primary rounded";
					document.querySelector(`#balanceProgressBig`).className = "progress bg-warning border-primary rounded";
					document.querySelector(`#balanceVs`).className = "text-primary";  
				}
			}
			setColorOfBalanceProgress();
		</script>
	
{% endblock %}

{% block nav_item_4 %}active{% endblock %}

{% block body %}   
	
	<main>
	
		<div class="container my-3 text-center pb-5">
			
			<div class="row"> 

				<div class="inputContainer mt-0 pb-3">			
					<header>
						<h2 class="font-weight-bold rounded bg-secondary">Check balance<i class="icon-chart-bar mr-3"></i></h2>
					</header>
					
					<form action="/balance/index" method="post">

						<select class="choice rounded" id="selectPeriod" name="period" style="font-family: 'Fontello'; width: 100%" required>
							<option value selected disabled hidden>&#xE80B; Choose period</option>					
							<option value="current_month">Current month</option>
							<option value="last_month">Previous month</option>
							<option value="current_year">Current year</option>
							<option value="custom_period">Custom</option>					
						</select>

						<div id="dateRange" style="display: none;">															
							<input class="form-control mx-auto" type="date" name="start_date" value="{{ start_date }}">
								
							<input class="form-control mx-auto" type="date" name="end_date" value="{{ end_date }}">							
						</div>

						<button type="submit" class="btn login">Show balance</button>

					</form>			
				</div>
					
					<div class="table col-12 mx-auto my-0 rounded">
					{% if start_date == end_date %}
					<h3 class="font-weight-bold rounded mx-auto my-0" style="color: #26282E; background-color: #209781;"><i class="icon-calendar mr-3"></i>{{start_date }}</h3>
					{% else %}
					<h3 class="font-weight-bold rounded mx-auto my-0" style="color: #26282E; background-color: #209781;"><i class="icon-calendar mr-3"></i>{{ start_date }} => {{ end_date }}</h3>
					{% endif %}
					</div>
												
					<div class="table col-12 col-lg-6 mx-0 rounded mt-2 mb-0">		
						<h3 style="color: #26282E; background-color: #209781; margin-bottom:0px;" class="rounded">Incomes<i class="icon-money ml-5"></i>{{ amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes }}</h3>	
						
						{% if incomeCategoriesFromSelectedPeriod %}
								
							{% for incomeCategoryFromSelectedPeriod in incomeCategoriesFromSelectedPeriod %}															
										
								<h5 class="rounded mt-2 mb-0 categoryName">{{ incomeCategoryFromSelectedPeriod.name }}<i class="icon-money ml-3"></i>{{ incomeCategoryFromSelectedPeriod.amountOfIncomes }}</h5>							
									
									{% for incomeFromSelectedPeriod in incomesFromSelectedPeriod %}
																		
										{% if incomeFromSelectedPeriod.income_category_assigned_to_user_id == incomeCategoryFromSelectedPeriod.income_category_assigned_to_user_id  %}
											
											<h6 class="rounded my-0 text-left incomeName"><i class="icon-money"></i>
												<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">
												{{ incomeFromSelectedPeriod.date_of_income }}<span class="mx-2">&#8680;</span>
												{{ incomeFromSelectedPeriod.amount }}<span class="mx-2">&#8680;</span>
												{{ incomeFromSelectedPeriod.income_comment }}
												
												<button type="button" class="btn text-white py-0 ml-1" style="border: none; background: none;"  data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit" data-target="#editIncome{{ incomeFromSelectedPeriod.id }}"><i class="icon-pencil"></i></button>										
												<button type="button" class="btn text-danger py-0 my-0 ml-1" style="border: none; background: none;" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Delete" data-target="#deleteIncome{{ incomeFromSelectedPeriod.id }}">&#10008;</a></button>
											
												<div class="modal fade" id="editIncome{{ incomeFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="editIncomeLabel{{ incomeFromSelectedPeriod.id }}" aria-hidden="true">
												
													<div class="modal-dialog">
														<div class="modal-content" style="background-color:#26282E; border: 1px solid #51c8b2;">
															<div class="modal-header bg-primary text-white" style="border-bottom: 1px solid #51c8b2;">
															<h5 class="modal-title" id="editIncomeLabel{{ incomeFromSelectedPeriod.id }}"><i class="icon-pencil mr-1"></i>Edit income<i class="icon-money ml-1"></i></h5>
															<button type="button" class="close text-white " data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
															</div>
															<div class="modal-body">
																<form action="/balance/editIncome" method="post">
																	<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">

																		<div class="input-group">
																			<div class="input-group-prepend">				
																				<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																			</div>
																			<input type="date" class="form-control  rounded-right" name="date" value="{{ incomeFromSelectedPeriod.date_of_income }}" required />
																		</div>																		

																		<div class="input-group">
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																			</div>
																			<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" value="{{ incomeFromSelectedPeriod.amount }}" required />	
																		</div>

																		<div class="input-group">	
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																			</div>
																			<input type="text" class="form-control  rounded-right" name="comment" value="{{ incomeFromSelectedPeriod.income_comment }}" />	
																		</div>				
																		
																		<select class="choice rounded text-center" name="category" style="width: 100%; font-size: 20px;">						
																			<option value="{{ incomeCategoryFromSelectedPeriod.id }}" selected hidden>{{ incomeCategoryFromSelectedPeriod.name }}</option>                          					
																			{% for incomeCategory in incomeCategories %}                             
																			<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
																			{% endfor %}                            
																		</select>
																		
																
																		<div class="modal-footer" style="border-top: none;">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																			<button type="submit" class="btn btn-primary">Save changes</button>
																		</div>
																	</form>
															
																</div>
														</div>
													</div>
												</div>	
												<div class="modal fade" id="deleteIncome{{ incomeFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="deleteIncomeLabel{{ incomeFromSelectedPeriod.id }}" aria-hidden="true">
												
													<div class="modal-dialog">
														<div class="modal-content" style="background-color:#26282E; border: 1px solid #51c8b2;">
															<div class="modal-header bg-danger text-white" style="border-bottom: 1px solid #51c8b2;">
															<h5 class="modal-title" id="deleteIncomeLabel{{ incomeFromSelectedPeriod.id }}"><span class="mr-1">&#10008;</span>Delete the following income?<i class="icon-money ml-1"></i></h5>
															<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
															</div>
															<div class="modal-body">
																<form action="/balance/deleteIncome" method="post">
																<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}" />

																	<div class="input-group">
																		<div class="input-group-prepend">				
																			<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																		</div>
																		<input type="date" class="form-control  rounded-right" name="date" style="background-color:#26282E;" value="{{ incomeFromSelectedPeriod.date_of_income }}" disabled />
																	</div>

																	<div class="input-group">
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																		</div>
																		<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" style="background-color:#26282E;" value="{{ incomeFromSelectedPeriod.amount }}"  disabled />	
																	</div>

																	<div class="input-group">	
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																		</div>
																		<input type="text" class="form-control  rounded-right" name="comment" style="background-color:#26282E;" value="{{ incomeFromSelectedPeriod.income_comment }}" disabled />	
																	</div>																
																						
																	<input type="text" class="form-control rounded text-center" style="width: 100%; font-size: 20px; background-color:#26282E;" name="category" value="{{ incomeCategoryFromSelectedPeriod.name }}" disabled />															
															
																<div class="modal-footer" style="border-top: none;">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																	<button type="submit" class="btn btn-danger">Delete</button>
																</div>
															</form>	
														</div>
													</div>
												</div>
											</div>
										</h6>
										
									{% endif %}									

								{% endfor %}
															
							{% endfor %}							
							
						{% else %}
																
							<div class="information rounded text-center mx-auto p-2 w-100" >No income in the selected period</div>	
															
						{% endif %}						
					
					</div>				
					
					<div class="table col-12 col-lg-6 mx-0 rounded mt-2 mb-0" id="expensesTable">		
						<h3 style="color: #26282E; background-color: #209781; margin-bottom:0px;" class="rounded">Expenses<i class="icon-basket ml-5"></i>{{amountOfAllExpensesFromSelectedPeriod.amountOfAllExpenses }}</h3>	
						
						{% if expenseCategoriesFromSelectedPeriod %}
								
							{% for expenseCategoryFromSelectedPeriod in expenseCategoriesFromSelectedPeriod %}															
										
								<h5 class="rounded mt-2 mb-0 categoryName">{{ expenseCategoryFromSelectedPeriod.name }}<i class="icon-basket ml-3"></i>{{ expenseCategoryFromSelectedPeriod.amountOfExpenses }}</h5>							
									
									{% for expenseFromSelectedPeriod in expensesFromSelectedPeriod %}
																		
										{% if expenseFromSelectedPeriod.expense_category_assigned_to_user_id == expenseCategoryFromSelectedPeriod.expense_category_assigned_to_user_id  %}
											
												<h6 class="rounded my-0 text-left expenseName"><i class="icon-basket"></i>
													<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">
													{{ expenseFromSelectedPeriod.date_of_expense }}<span class="mx-2">&#8680;</span>
													{{ expenseFromSelectedPeriod.amount }}<span class="mx-2">&#8680;</span>
													{{ expenseFromSelectedPeriod.name }}<span class="mx-2">&#8680;</span>
													{{ expenseFromSelectedPeriod.expense_comment }}
													<button type="button" class="btn text-white py-0 ml-1" style="border: none; background: none;"  data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit" data-target="#editExpense{{ expenseFromSelectedPeriod.id }}"><i class="icon-pencil"></i></button>										
													<button type="button" class="btn text-danger py-0 ml-1" style="border: none; background: none;" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Delete" data-target="#deleteExpense{{ expenseFromSelectedPeriod.id }}">&#10008;</a></button>

													<div class="modal fade" id="editExpense{{ expenseFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="editExpenseLabel{{ expenseFromSelectedPeriod.id }}" aria-hidden="true">
													
														<div class="modal-dialog">
															<div class="modal-content" style="background-color:#26282E; border: 1px solid #51c8b2;">
																<div class="modal-header bg-primary text-white" style="border-bottom: 1px solid #51c8b2;">
																<h5 class="modal-title" id="editExpenseLabel{{ expenseFromSelectedPeriod.id }}"><i class="icon-pencil mr-1"></i>Edit expense<i class="icon-basket mr-1"></i></h5>
																<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
																</div>
																<div class="modal-body">
																	<form action="/balance/editExpense" method="post">
																		<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">

																			<div class="input-group">
																				<div class="input-group-prepend">				
																					<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																				</div>
																				<input type="date" class="form-control  rounded-right" name="date" value="{{ expenseFromSelectedPeriod.date_of_expense }}" required />
																			</div>

																			<div class="input-group">
																				<div class="input-group-prepend ">
																					<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																				</div>
																				<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" value="{{ expenseFromSelectedPeriod.amount }}" required />	
																			</div>

																			<select class="choice rounded" name="method" style="width: 100%;">						
																				<option value ="{{ expenseFromSelectedPeriod.payment_method_assigned_to_user_id}}" selected hidden>{{ expenseFromSelectedPeriod.name }}</option>                          					
																				{% for paymentMethod in paymentMethods %}
																					<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option>
																				{% endfor %}                                    
																			</select>

																			<div class="input-group">	
																				<div class="input-group-prepend ">
																					<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																				</div>
																				<input type="text" class="form-control  rounded-right" name="comment" value="{{ expenseFromSelectedPeriod.expense_comment }}" />	
																			</div>			
																			
																			<select class="choice rounded text-center" name="category" style="width: 100%; font-size: 20px;">						
																				<option value="{{ expenseCategoryFromSelectedPeriod.id }}" selected hidden>{{ expenseCategoryFromSelectedPeriod.name }}</option>                          					
																				{% for expenseCategory in expenseCategories %}                             
																				<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
																				{% endfor %}                            
																			</select>
																			
																	
																			<div class="modal-footer" style="border-top: none;">
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																				<button type="submit" class="btn btn-primary">Save changes</button>
																			</div>
																		</form>
																
																	</div>
															</div>
														</div>
													</div>	
													<div class="modal fade" id="deleteExpense{{ expenseFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="deleteExpenseLabel{{ expenseFromSelectedPeriod.id }}" aria-hidden="true">
													
														<div class="modal-dialog">
															<div class="modal-content" style="background-color:#26282E; border: 1px solid #51c8b2;">
																<div class="modal-header bg-danger text-white" style="border-bottom: 1px solid #51c8b2;">
																<h5 class="modal-title" id="deleteExpenseLabel{{ expenseFromSelectedPeriod.id }}"><span class="mr-1">&#10008;</span>Delete the following expense?<i class="icon-basket mr-1"></i></h5>
																<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
																</div>
																<div class="modal-body">
																	<form action="/balance/deleteExpense" method="post">
																		<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}" />

																		<div class="input-group">
																			<div class="input-group-prepend">				
																				<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																			</div>
																			<input type="date" class="form-control  rounded-right" name="date" style="background-color:#26282E;" value="{{ expenseFromSelectedPeriod.date_of_expense }}" disabled />
																		</div>

																		<div class="input-group">
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																			</div>
																			<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" style="background-color:#26282E;" value="{{ expenseFromSelectedPeriod.amount }}"  disabled />	
																		</div>
																		
																		<div class="input-group">
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-cc-visa"></i></span>
																			</div>
																			<input type="text" class="form-control  rounded-right" name="method" style="background-color:#26282E;" value="{{ expenseFromSelectedPeriod.name }}" disabled />	
																		</div>

																		<div class="input-group">	
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																			</div>
																			<input type="text" class="form-control  rounded-right" name="comment" style="background-color:#26282E;" value="{{ expenseFromSelectedPeriod.expense_comment }}" disabled />	
																		</div>			
																							
																		<input type="text" class="form-control rounded text-center" style="width: 100%; background-color:#26282E; font-size: 20px;" name="category" value="{{ expenseCategoryFromSelectedPeriod.name }}" disabled />															
																
																	<div class="modal-footer" style="border-top: none;">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																		<button type="submit" class="btn btn-danger">Delete</button>
																	</div>
																</form>	
															</div>
														</div>
													</div>
												</div>
											</h6>

										{% endif %}									

									{% endfor %}
															
							{% endfor %}							
							
						{% else %}
																
							<div class="information rounded text-center mx-auto p-2 w-100" >No expense in the selected period</div>	
															
						{% endif %}						
					
					</div>

					<div class="w-100"></div>	
				
					<div class="table col-12 mx-auto rounde d mt-2 mb-0">
						<h3 style="color: #26282E; background-color: #209781;" class="rounded">Balance<i class="icon-chart-bar ml-5 mr-1"></i><span id="balance">{{ balance}}</span></h3>					
													
						{% if (incomeCategoriesFromSelectedPeriod or expenseCategoriesFromSelectedPeriod) %}
								
							{% if (balance) < (0) %}				
								<h4 class="rounded" style="color: #26282E; background-color: #209781;" >&#129300; Watch out, you are getting into debt!</h4>
							{% endif %}	
							{% if (balance) > (0) %}
								<h4 class="rounded" style="color: #26282E; background-color: #209781;">&#128521; Congratulations. You manage your finances very well!</h4>
							{% endif %}
							
							<fieldset id="balanceProgressFieldset" style="border: 1px solid  white;">
								<legend class="text-white col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
								<span class="mr-2 text-primary">							
									<i class="icon-money"></i>													
									{{ (((amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)/((amountOfAllExpensesFromSelectedPeriod.amountOfAllExpenses)+(amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)))*100) |number_format(2)}} %
								</span>
								<span id="balanceVs">vs</span> 
								<span class="ml-2 text-warning">
									<i class="icon-basket"></i>													
									{{((100)-((amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)/((amountOfAllExpensesFromSelectedPeriod.amountOfAllExpenses)+(amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)))*100) |number_format(2)}} %
								</span>
								</legend>
								<div class="progress bg-warning" id="balanceProgressBig" style="font-size: 18px; height: 25px; border-left: none; border-right: none; border-bottom: none;">
									<div id="balancetProgress" class="progress-bar" role="progressbar" style="width: {{ ((amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)/((amountOfAllExpensesFromSelectedPeriod.amountOfAllExpenses)+(amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)))*100 }}%;" aria-valuenow="{{ ((amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)/((amountOfAllExpensesFromSelectedPeriod.amountOfAllExpenses)+(amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes)))*100 }}%" aria-valuemin="0" aria-valuemax="100">								
									</div>								
								</div>								
							</fieldset>												
						
						{% endif %}	
											
					</div>

					{% if incomeCategoriesFromSelectedPeriod %}									
						<div id="chartContainer1"></div>										
					{% endif %}

					{% if expenseCategoriesFromSelectedPeriod %}						
						<div id="chartContainer2"></div>					
					{% endif %}						
					
				</div>

			</div>
		</div>		
				
	</main>    
    
{% endblock %}