{% extends 'base.twig' %}

{% block title %}Settings{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            var userId = '{{ user.id }}';

            /**
             * Validate the form
             */
            $('#formProfile').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '/account/validate-email',
                            data: {
                                ignore_id: function() {
                                    return userId;
                                }
                            }
                        }
                    },
                    password: {
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block nav_item_5 %}active{% endblock %}

{% block body %} 

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
		<div class="container text-center">
			<div class="row">

				<div class="container mb-5">

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('incomeCategories').style.display='block';"><i class="icon-money mr-1"></i>Income categories</button>
					</div>
										
					<div class="mt-1 col-10 mx-auto" id="incomeCategories" style="display: none;">							
						{% if incomeCategories %}                      					
							{% for incomeCategory in incomeCategories %}                             
								<h5 class="rounded my-0 mx-auto col-10" style="color: #060B95; background-color: #D3DDE9; border: 1px solid  #c2cce8;">
									<input name="id" type="number" style="display: none;" value="{{ incomeCategory.id }}">
									<table width="100%">
										<tr>
											<td width="60%" class="text-left">
											{{ incomeCategory.name }}
											</td>
											<td>
											<button  type="button" class="btn btn-primary btn-sm" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#editIncomeCategory{{ incomeCategory.id }}"><i class="icon-pencil mr-1"></i>Edit</button>
											</td>
											<td>
											<button  type="button" class="btn btn-danger btn-sm" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#deleteIncomeCategory{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete</button>
											</td>
										</tr>
									</table>
								</h5>

								<div class="modal fade" id="editIncomeCategory{{ incomeCategory.id }}" tabindex="-1" aria-labelledby="editIncomeCategoryLabel{{ incomeCategory.id }}" aria-hidden="true">
												
									<div class="modal-dialog">
										<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
											<div class="modal-header bg-primary text-white">
											<h5 class="modal-title" id="editIncomeCategoryLabel{{ incomeCategory.id }}"><i class="icon-pencil mr-1"></i>Edit income category<i class="icon-money mr-1"></i></h5>
											<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
												<form action="/settings/editIncomeCategory" method="post">
													<input name="id" type="number" style="display: none;" value="{{ incomeCategory.id }}">
																					
													<div class="input-group">	
														<div class="input-group-prepend">
															<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Name</i></span>
														</div>
														<input type="text" class="form-control  rounded-right" name="new_name"  value="{{ incomeCategory.name }}" required>	
													</div>											
													

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-primary">Save changes</button>
													</div>
												</form>							
											</div>
										</div>
									</div>
								</div>

								<div class="modal fade" id="deleteIncomeCategory{{ incomeCategory.id }}" tabindex="-1" aria-labelledby="deleteIncomeCategoryLabel{{ incomeCategory.id }}" aria-hidden="true">
												
									<div class="modal-dialog">
										<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
											<div class="modal-header bg-danger text-white">
											<h5 class="modal-title" id="deleteIncomeCategoryLabel{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete income category<i class="icon-money mr-1"></i></h5>							
											<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
											</div>
											
											<div class="bg-warning">
												<input name="id" type="number"  style="display: none;" value="{{ incomeCategory.id }}">
												<p class="my-0 text-dark text-center">Warning:</p>
												<p class="my-0 text-dark text-center">All incomes in this category will be deleted!</p>
												<p class="my-0 text-dark text-center">If you want to keep them, assign them to another category first.</p>

												<div class="modal-footer py-2">
														<button type="button" class="btn btn-info btn-sm ml-0 mr-auto"  style="white-space: pre-wrap;" onClick="document.getElementById('showIncomes{{ incomeCategory.id }}').style.display='block';">Check incomes in category</button>
                                                        <button type="button" class="btn btn-secondary btn-sm mr-0 ml-auto"  style="white-space: pre-wrap;" onClick="document.getElementById('showIncomes{{ incomeCategory.id }}').style.display='none';">Close</button>
                                                </div>

												<div id="showIncomes{{ incomeCategory.id }}" style="display: none;">
												<input name="id" type="number"  style="display: none;" value="{{ incomeCategory.id }}">
												{% set noIncome = true %}
												{% for incomeFromSelectedPeriod in incomesFromSelectedPeriod %}
													{% if incomeFromSelectedPeriod.income_category_assigned_to_user_id == incomeCategory.id  %}
														<h6 class="rounded my-0 py-0 bg-warning text-info border border-info">
															<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">
															<table width="100%">
																<tr>
																	<td width="70%" class="text-left">
																		{{incomeFromSelectedPeriod.date_of_income }}<span class="mx-1">&#8680;</span>
																		{{ incomeFromSelectedPeriod.amount }}<span class="mx-1">&#8680;</span>
																		{{ incomeFromSelectedPeriod.income_comment }}
																		</td>
																	<td>
																	<button  type="button" class="btn btn-info btn-sm my-0 py-0" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#changeIncomeCategory{{ incomeFromSelectedPeriod.id }}"><i class="icon-pencil mr-1"></i>Change category</button>
																	</td>
																</tr>
															</table>
														</h6>
														{% set noIncome = false %}
														
														<div class="modal fade" id="changeIncomeCategory{{ incomeFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="changeIncomeCategoryLabel{{ incomeFromSelectedPeriod.id }}" aria-hidden="true">
												
															<div class="modal-dialog">
																<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
																	<div class="modal-header bg-info text-white">
																	<h5 class="modal-title" id="changeIncomeCategoryLabel{{ incomeFromSelectedPeriod.id }}"><i class="icon-pencil mr-1"></i>Change category<i class="icon-money mr-1"></i></h5>
																	<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																	</div>
																	<div class="modal-body">
																		<form action="/settings/changeIncomeCategory" method="post">
																			<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id  }}">
																			<select class="choice rounded text-center" name="category" style="width: 100%; font-weight: bold; font-size: 20px;">						
																				<option value="{{ incomeCategory.id }}" selected hidden>{{ incomeCategory.name }}</option>                          					
																				{% for incomeCategory in incomeCategories %}                             
																				<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
																				{% endfor %}                            
																			</select>	

																			<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																				<button type="submit" class="btn btn-info">Save changes</button>
																			</div>
																		</form>							
																	</div>
																</div>
															</div>
											</div>														
													{% endif %}				
												{% endfor %}
												{% if noIncome %} No income in that category {% endif %}
											</div>	
											</div>
											<div class="modal-body">
												<form action="/settings/deleteIncomeCategory" method="post">
													<input name="id" type="number" style="display: none;" value="{{ incomeCategory.id }}">
													<input type="text" class="form-control rounded text-center" style="width: 100%; font-weight: bold; font-size: 20px;" name="category" value="{{ incomeCategory.name }}" disabled />				
														
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-danger">Delete</button>
													</div>
												</form>
																	
											</div>
										</div>
									</div>
								</div>
								
							{% endfor %}
							
						{% else %}
							<h5 class="rounded my-0 mx-auto col-10" style="color: #060B95; background-color: #D3DDE9; border: 1px solid  #c2cce8;">No income category</h5>
                        {% endif %}

						<button  type="button" class="btn btn-success btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#addIncomeCategory"><span class="mr-1">&#10004;</span>Add new</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllIncomeCategories"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-secondary btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('incomeCategories').style.display='none';">Close</button>
						
					</div>

					<div class="modal fade" id="addIncomeCategory" tabindex="-1" aria-labelledby="addIncomeCategoryLabel" aria-hidden="true">

						<div class="modal-dialog">
							<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
								<div class="modal-header bg-success text-white">
								<h5 class="modal-title" id="addIncomeCategoryLabel"><span class="mr-1">&#10004;</span>Add income category<i class="icon-money mr-1"></i></h5>
								<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<form action="/settings/addIncomeCategory" method="post">
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Name</i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_category"  placeholder="New category of income name" required >
										</div>										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-success">Add</button>
										</div>
									</form>							
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="deleteAllIncomeCategories" tabindex="-1" aria-labelledby="deleteAllIncomeCategoriesLabel" aria-hidden="true">
												
						<div class="modal-dialog">
							<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
								<div class="modal-header bg-danger text-white">
								<h5 class="modal-title" id="deleteAllIncomeCategoriesLabel"><span class="mr-1">&#10008;</span>Delete all income categories<i class="icon-money ml-1"></i></h5>
								<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="bg-warning">
									<p class="my-0 text-dark text-center">Warning:</p>
									<p class="my-0 text-dark text-center">All categories and incomes will be deleted!</p>
								</div>							
								<div class="modal-body">
									<form action="/settings/deleteAllIncomeCategories" method="post">	
											<input name="deleteAllIncomeCategories" type="text" style="display: none;">	
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-danger">Delete all</button>
											</div>
									</form>							
								</div>
							</div>
						</div>
					</div>
					
					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('expenseCategories').style.display='block';"><i class="icon-basket mr-1"></i>Expense categories</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="expenseCategories" style="display: none;">								
						{% if expenseCategories %}                      					
							{% for expenseCategory in expenseCategories %}                             
								<h5 class="rounded my-0 mx-auto col-10" style="color: #060B95; background-color: #D3DDE9; border: 1px solid  #c2cce8;">
									<input name="id" type="number" style="display: none;" value="{{ expenseCategory.id }}">
									<table width="100%">
										<tr>
											<td width="60%" class="text-left">
											{{ expenseCategory.name }}
											</td>
											<td>
											<button  type="button" class="btn btn-primary btn-sm" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#editExpenseCategory{{ expenseCategory.id }}"><i class="icon-pencil mr-1"></i>Edit</button>
											</td>
											<td>
											<button  type="button" class="btn btn-danger btn-sm" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#deleteExpenseCategory{{ expenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete</button>
											</td>
										</tr>
									</table>
								</h5>

								<div class="modal fade" id="editExpenseCategory{{ expenseCategory.id }}" tabindex="-1" aria-labelledby="editExpenseCategoryLabel{{ expenseCategory.id }}" aria-hidden="true">
												
									<div class="modal-dialog">
										<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
											<div class="modal-header bg-primary text-white">
											<h5 class="modal-title" id="editExpenseCategoryLabel{{ expenseCategory.id }}"><i class="icon-pencil mr-1"></i>Edit expense category<i class="icon-basket mr-1"></i></h5>
											<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
												<form action="/settings/editExpenseCategory" method="post">
													<input name="id" type="number" style="display: none;" value="{{ expenseCategory.id }}">
													<input name="current_name" type="text" style="display: none;" value="{{ expenseCategory.name }}">										
													<div class="input-group">	
														<div class="input-group-prepend">
															<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Name</i></span>
														</div>
														<input type="text" class="form-control  rounded-right" name="new_name"  value="{{ expenseCategory.name }}" required>	
													</div>

													<div class="input-group">	
														<div class="input-group-prepend">
															<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Limit</i></span>
														</div>
														{% if (expenseCategory.month_limit) > (0) %}
														<input type="text" class="form-control  rounded-right" name="new_limit"	value="{{ expenseCategory.month_limit }}">
														{% else %}
														<input type="text" class="form-control  rounded-right" name="new_limit"	placeholder = "No limit set">
														{% endif %}
																										
													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-primary">Save changes</button>
													</div>
												</form>							
											</div>
										</div>
									</div>
								</div>

								<div class="modal fade" id="deleteExpenseCategory{{ expenseCategory.id }}" tabindex="-1" aria-labelledby="deleteExpenseCategoryLabel{{ expenseCategory.id }}" aria-hidden="true">
												
									<div class="modal-dialog">
										<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
											<div class="modal-header bg-danger text-white">
											<h5 class="modal-title" id="deleteExpenseCategoryLabel{{ expenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete expense category<i class="icon-basket mr-1"></i></h5>							
											<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
											</div>
											
											<div class="bg-warning">
												<input name="id" type="number"  style="display: none;" value="{{ expenseCategory.id }}">
												<p class="my-0 text-dark text-center">Warning:</p>
												<p class="my-0 text-dark text-center">All expenses in this category will be deleted!</p>
												<p class="my-0 text-dark text-center">If you want to keep them, assign them to another category first.</p>

												<div class="modal-footer py-2">
														<button type="button" class="btn btn-info btn-sm ml-0 mr-auto"  style="white-space: pre-wrap;" onClick="document.getElementById('showExpenses{{ expenseCategory.id }}').style.display='block';">Check esxpenses in category</button>
                                                        <button type="button" class="btn btn-secondary btn-sm mr-0 ml-auto"  style="white-space: pre-wrap;" onClick="document.getElementById('showExpenses{{ expenseCategory.id }}').style.display='none';">Close</button>
                                                </div>

												<div id="showExpenses{{ expenseCategory.id }}" style="display: none;">
												<input name="id" type="number"  style="display: none;" value="{{ expenseCategory.id }}">
												{% set noExpense = true %}
												{% for expenseFromSelectedPeriod in expensesFromSelectedPeriod %}
													{% if expenseFromSelectedPeriod.expense_category_assigned_to_user_id == expenseCategory.id  %}
														<h6 class="rounded my-0 py-0 bg-warning text-info border border-info">
															<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">
															<table width="100%">
																<tr>
																	<td width="70%" class="text-left">
																		{{ expenseFromSelectedPeriod.date_of_expense }}<span class="mx-1">&#8680;</span>
																		{{ expenseFromSelectedPeriod.amount }}<span class="mx-1">&#8680;</span>
																		{{ expenseFromSelectedPeriod.expense_comment }}
																		</td>
																	<td>
																	<button  type="button" class="btn btn-info btn-sm my-0 py-0" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#changeExpenseCategory{{ expenseFromSelectedPeriod.id }}"><i class="icon-pencil mr-1"></i>Change category</button>
																	</td>
																</tr>
															</table>
														</h6>
														{% set noExpense = false %}
														
														<div class="modal fade" id="changeExpenseCategory{{ expenseFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="changeExpenseCategoryLabel{{ expenseFromSelectedPeriod.id }}" aria-hidden="true">
												
															<div class="modal-dialog">
																<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
																	<div class="modal-header bg-info text-white">
																	<h5 class="modal-title" id="changeExpenseCategoryLabel{{ expenseFromSelectedPeriod.id }}"><i class="icon-pencil mr-1"></i>Change category<i class="icon-basket mr-1"></i></h5>
																	<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																	</div>
																	<div class="modal-body">
																		<form action="/settings/changeExpenseCategory" method="post">
																			<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id  }}">
																			<select class="choice rounded text-center" name="category" style="width: 100%; font-weight: bold; font-size: 20px;">						
																				<option value="{{ expenseCategory.id }}" selected hidden>{{ expenseCategory.name }}</option>                          					
																				{% for expenseCategory in expenseCategories %}                             
																				<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
																				{% endfor %}                            
																			</select>	

																			<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																				<button type="submit" class="btn btn-info">Save changes</button>
																			</div>
																		</form>							
																	</div>
																</div>
															</div>
											</div>														
													{% endif %}				
												{% endfor %}
												{% if noExpense %} No expenese in that category {% endif %}
											</div>	
											</div>
											<div class="modal-body">
												<form action="/settings/deleteExpenseCategory" method="post">
													<input name="id" type="number" style="display: none;" value="{{ expenseCategory.id }}">
													<input type="text" class="form-control rounded text-center" style="width: 100%; font-weight: bold; font-size: 20px;" name="category" value="{{ expenseCategory.name }}" disabled />				
														
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-danger">Delete</button>
													</div>
												</form>
																	
											</div>
										</div>
									</div>
								</div>
								
							{% endfor %}

							
							
						{% else %}
							<h5 class="rounded my-0 mx-auto col-10" style="color: #060B95; background-color: #D3DDE9; border: 1px solid  #c2cce8;">No expense category</h5>
                        {% endif %}

						<button  type="button" class="btn btn-success btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#addExpenseCategory"><span class="mr-1">&#10004;</span>Add new</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllExpenseCategories"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-secondary btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('expenseCategories').style.display='none';">Close</button>
						
					</div>

					<div class="modal fade" id="addExpenseCategory" tabindex="-1" aria-labelledby="addExpenseCategoryLabel" aria-hidden="true">

						<div class="modal-dialog">
							<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
								<div class="modal-header bg-success text-white">
								<h5 class="modal-title" id="addExpenseCategoryLabel"><span class="mr-1">&#10004;</span>Add expense category<i class="icon-basket mr-1"></i></h5>
								<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<form action="/settings/addExpenseCategory" method="post">
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Name</i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_category"  placeholder="New category of expense name" required >
										</div>
										<div class="input-group">
											<div class="input-group-prepend ">
												<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Limit</i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_limit"  placeholder="Set month limit (optionaly)">		
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-success">Add</button>
										</div>
									</form>							
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="deleteAllExpenseCategories" tabindex="-1" aria-labelledby="deleteAllExpenseCategoriesLabel" aria-hidden="true">
												
						<div class="modal-dialog">
							<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
								<div class="modal-header bg-danger text-white">
								<h5 class="modal-title" id="deleteAllExpenseCategoriesLabel"><span class="mr-1">&#10008;</span>Delete all expense categories<i class="icon-basket ml-1"></i></h5>
								<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="bg-warning">
									<p class="my-0 text-dark text-center">Warning:</p>
									<p class="my-0 text-dark text-center">All categories and expenses will be deleted!</p>
								</div>							
								<div class="modal-body">
									<form action="/settings/deleteAllExpenseCategories" method="post">	
											<input name="deleteAllExpenseCategories" type="text" style="display: none;">	
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-danger">Delete all</button>
											</div>
									</form>							
								</div>
							</div>
						</div>
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('paymentMethods').style.display='block';"><i class="icon-cc-visa mr-2"></i>Payment methods</button>
					</div>
					
					<div class="mt-1 col-10 mx-auto" id="paymentMethods" style="display: none;">							
						{% if paymentMethods %}                      					
							{% for paymentMethod in paymentMethods %}                             
								<h5 class="rounded my-0 mx-auto col-10" style="color: #060B95; background-color: #D3DDE9; border: 1px solid  #c2cce8;">
									<input name="id" type="number" style="display: none;" value="{{ paymentMethod.id }}">
									<table width="100%">
										<tr>
											<td width="60%" class="text-left">
											{{ paymentMethod.name }}
											</td>
											<td>
											<button  type="button" class="btn btn-primary btn-sm" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#editPaymentMethod{{ paymentMethod.id }}"><i class="icon-pencil mr-1"></i>Edit</button>
											</td>
											<td>
											<button  type="button" class="btn btn-danger btn-sm" style="white-space: pre-wrap; width: 100%" data-toggle="modal" data-target="#deletePaymentMethod{{ paymentMethod.id }}"><span class="mr-1">&#10008;</span>Delete</button>
											</td>
										</tr>
									</table>
								</h5>

								<div class="modal fade" id="editPaymentMethod{{ paymentMethod.id }}" tabindex="-1" aria-labelledby="editPaymentMethodLabel{{ paymentMethod.id }}" aria-hidden="true">
												
									<div class="modal-dialog">
										<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
											<div class="modal-header bg-primary text-white">
											<h5 class="modal-title" id="editPaymentMethodLabel{{ paymentMethod.id }}"><i class="icon-pencil mr-1"></i>Edit payment method<i class="icon-cc-visa mr-1"></i></h5>
											<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
												<form action="/settings/editPaymentMethod" method="post">
													<input name="id" type="number" style="display: none;" value="{{ paymentMethod.id }}">
																						
													<div class="input-group">	
														<div class="input-group-prepend">
															<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Name</i></span>
														</div>
														<input type="text" class="form-control  rounded-right" name="new_name" value="{{ paymentMethod.name }}" required>	
													</div>											
													

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-primary">Save changes</button>
													</div>
												</form>							
											</div>
										</div>
									</div>
								</div>

								<div class="modal fade" id="deletePaymentMethod{{ paymentMethod.id }}" tabindex="-1" aria-labelledby="deletePaymentMethodLabel{{ paymentMethod.id }}" aria-hidden="true">
												
									<div class="modal-dialog">
										<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
											<div class="modal-header bg-danger text-white">
											<h5 class="modal-title" id="deletePaymentMethodLabel{{ paymentMethod.id }}"><span class="mr-1">&#10008;</span>Delete payment method<i class="icon-cc-visa mr-1"></i></h5>							
											<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
											</div>

											<div class="modal-body">
												<form action="/settings/deletePaymentMethod" method="post">
													<input name="id" type="number" style="display: none;" value="{{ paymentMethod.id }}">
													<input type="text" class="form-control rounded text-center" style="width: 100%; font-weight: bold; font-size: 20px;" name="method" value="{{ paymentMethod.name }}" disabled />				
														
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-danger">Delete</button>
													</div>
												</form>
																	
											</div>
										</div>
									</div>
								</div>
								
							{% endfor %}
							
						{% else %}
							<h5 class="rounded my-0 mx-auto col-10" style="color: #060B95; background-color: #D3DDE9; border: 1px solid  #c2cce8;">No payment method</h5>
                        {% endif %}

						<button  type="button" class="btn btn-success btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#addPaymentMethod"><span class="mr-1">&#10004;</span>Add new</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllPaymentMethods"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-secondary btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('paymentMethods').style.display='none';">Close</button>
						
					</div>

					<div class="modal fade" id="addPaymentMethod" tabindex="-1" aria-labelledby="addPaymentMethodLabel" aria-hidden="true">

						<div class="modal-dialog">
							<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
								<div class="modal-header bg-success text-white">
								<h5 class="modal-title" id="addPaymentMethodLabel"><span class="mr-1">&#10004;</span>Add payment method<i class="icon-cc-visa mr-1"></i></h5>
								<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<form action="/settings/addPaymentMethod" method="post">
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text rounded-left icon" style="width: 100px;"><i class="icon-pencil" style="width: 100px;">Name</i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_method"  placeholder="New method of payment name" required >
										</div>										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-success">Add</button>
										</div>
									</form>							
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="deleteAllPaymentMethods" tabindex="-1" aria-labelledby="deleteAllPaymentMethodsLabel" aria-hidden="true">
												
						<div class="modal-dialog">
							<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
								<div class="modal-header bg-danger text-white">
								<h5 class="modal-title" id="deleteAllPaymentMethodsLabel"><span class="mr-1">&#10008;</span>Delete all payment methods<i class="icon-cc-visa ml-1"></i></h5>
								<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="bg-warning">
									<p class="my-0 text-dark text-center">Warning:</p>
									<p class="my-0 text-dark text-center">All payment methods will be deleted!</p>
								</div>							
								<div class="modal-body">
									<form action="/settings/deleteAllPaymentMethods" method="post">	
											<input name="deleteAllPaymentMethods" type="text" style="display: none;">	
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-danger">Delete all</button>
											</div>
									</form>							
								</div>
							</div>
						</div>
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('incomes_buttons').style.display='block';"><i class="icon-money mr-1"></i>Incomes</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="incomes_buttons" style="display: none;">
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteIncomesFromSelectedCategory{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete<span></button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllIncomes"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-secondary btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('incomes_buttons').style.display='none';">Close</span></button>			
					</div>
					
					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('expenses_buttons').style.display='block';"><i class="icon-basket mr-1"></i>Expenses</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="expenses_buttons" style="display: none;">
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteExpensesFromSelectedCategory{{ expenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete<span></button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllExpenses"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-secondary btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('expenses_buttons').style.display='none';">Close</button>			
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('userProfile_buttons').style.display='block';"><i class="icon-user-3 mr-1"></i>User profile</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="userProfile_buttons" style="display: none;">								
						<button  type="button" class="btn btn-primary btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#editUserProfile"><i class="icon-pencil mr-1"></i>Edit</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteUserProfile"><span class="mr-1">&#10008;</span>Delete</button>					
						<button  type="button" class="btn btn-secondary btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('userProfile_buttons').style.display='none';">Close</button>			
					</div>
				</div>

				<div class="modal fade" id="deleteIncomesFromSelectedCategory{{ incomeCategory.id }}" tabindex="-1" aria-labelledby="deleteIncomesFromSelectedCategoryLabel{{ incomeCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteIncomesFromSelectedCategoryLabel{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete incomes form selected category<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="bg-warning">
								<p class="my-0 text-dark text-center">Warning:</p>
								<p class="my-0 text-dark text-center">All incomes in this category will be deleted!</p>
							</div>							
							<div class="modal-body">
								<form action="/settings/deleteIncomesFromSelectedCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if incomeCategories %}					
												<option value selected disabled hidden>Select a category</option>                          					
													{% for incomeCategory in incomeCategories %}                             
														<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
													{% endfor %}
											{% else %}
                                				<option value selected disabled hidden>&#9785; No income category</option>
                           					{% endif %}                                  
										</select>									
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllIncomes" tabindex="-1" aria-labelledby="deleteAllIncomesLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllIncomesLabel"><span class="mr-1">&#10008;</span>Delete all incomes<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="bg-warning">
								<p class="my-0 text-dark text-center">Warning:</p>
								<p class="my-0 text-dark text-center">All incomes will be deleted!</p>
							</div>							
							<div class="modal-body">
								<form action="/settings/deleteAllIncomes" method="post">	
										<input name="deleteAllIncomes" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteExpensesFromSelectedCategory{{ expenseCategory.id }}" tabindex="-1" aria-labelledby="deleteExpensesFromSelectedCategoryLabel{{ expenseCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteExpensesFromSelectedCategoryLabel{{ ixpenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete expenses form selected category<i class="icon-basket ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="bg-warning">
								<p class="my-0 text-dark text-center">Warning:</p>
								<p class="my-0 text-dark text-center">All expenses in this category will be deleted!</p>
							</div>							
							<div class="modal-body">
								<form action="/settings/deleteExpensesFromSelectedCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if expenseCategories %}					
												<option value selected disabled hidden>Select a category</option>                          					
													{% for expenseCategory in expenseCategories %}                             
														<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
													{% endfor %}
											{% else %}
                                				<option value selected disabled hidden>&#9785; No expense category</option>
                           					{% endif %}                                  
										</select>									
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllExpenses" tabindex="-1" aria-labelledby="deleteAllExpensesLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllExpensesLabel"><span class="mr-1">&#10008;</span>Delete all expenses<i class="icon-basket ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="bg-warning">
								<p class="my-0 text-dark text-center">Warning:</p>
								<p class="my-0 text-dark text-center">All expenses will be deleted!</p>
							</div>							
							<div class="modal-body">
								<form action="/settings/deleteAllExpenses" method="post">	
										<input name="deleteAllExpenses" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="editUserProfile" tabindex="-1" aria-labelledby="editUserProfileLabe" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="editUserProfile"><i class="icon-pencil mr-1"></i>Edit profile<i class="icon-user-3 mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/editUserProfile" method="post" id="formProfile">
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-user-3"></i></span>
											</div>
											<input type="text" class="form-control  rounded-right" id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required >	
										</div>

										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-mail-3"></i></span>
											</div>
											<input type="email" class="form-control  rounded-right" id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required >	
										</div>
																
										<input type="password" id="inputPassword" name="password" placeholder="&#xE806; Password" class="form-control" style="font-family: 'Fontello'; width: 466px" />
										<span id="helpBlock" class="help-block">Leave blank to keep current password</span>	

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save changes</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteUserProfile" tabindex="-1" aria-labelledby="deleteUserProfileMethodLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteUserProfileLabel"><span class="mr-1">&#10008;</span>Delete a profile<i class="icon-user-3 mr-1"></i></h5>
							<button type="button" class="close text-white " data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="bg-warning">
								<p class="my-0 text-dark text-center">Warning:</p>
								<p class="my-0 text-dark text-center">All datas and settings of this user will be deleted!</p>
							</div>							
							<div class="modal-body">
								<form action="/settings/deleteUserProfile" method="post">								
									<input name="deleteProfile" type="text" style="display: none;">
									
									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-user-3"></i></span>
										</div>
										<input type="text" class="form-control  rounded-right" id="inputName" name="name" placeholder="Name" value="{{ user.name }}" disabled >	
									</div>

									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-mail-3"></i></span>
										</div>
										<input type="email" class="form-control  rounded-right" id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" disabled >	
									</div>																		
										
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-danger">Delete</button>
									</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

{% endblock %}    