{% extends 'base.twig' %}

{% block title %}Settings{% endblock %}

{% block nav_item_5 %}active{% endblock %}

{% block body %}   

    <main>
		<div class="container text-center">
			<div class="row">

				<div class="container mb-5">

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('incomeCategory_buttons').style.display='block';"><i class="icon-money mr-3"></i>Income categories</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="incomeCategory_buttons" style="display: none;">					
						<button  type="button" class="btn btn-primary btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#editIncomeCategory{{ incomeCategory.id }}"><i class="icon-pencil mr-1"></i>Edit</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteIncomeCategory{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete</button>
						<button  type="button" class="btn btn-success btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#addIncomeCategory"><span class="mr-1">&#10004;</span>Add</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllIncomeCategories"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-info btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('incomeCategory_buttons').style.display='none';">Hide<span class="ml-2">&#8682;</span></button>			
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('expenseCategory_buttons').style.display='block';"><i class="icon-basket mr-3"></i>Expense categories</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="expenseCategory_buttons" style="display: none;">								
						<button  type="button" class="btn btn-primary btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#editExpenseCategory{{ expenseCategory.id }}"><i class="icon-pencil mr-1"></i>Edit</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteExpenseCategory{{ expenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete</button>
						<button  type="button" class="btn btn-success btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#addExpenseCategory"><span class="mr-1">&#10004;</span>Add</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllExpenseCategories"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-info btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('expenseCategory_buttons').style.display='none';">Hide<span class="ml-2">&#8682;</span></button>			
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('paymentMethod_buttons').style.display='block';"><i class="icon-cc-visa mr-3"></i>Payment methods</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="paymentMethod_buttons" style="display: none;">								
						<button  type="button" class="btn btn-primary btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#editPaymentMethod{{ paymentMethod.id }}"><i class="icon-pencil mr-1"></i>Edit</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deletePaymentMethod{{ paymentMethod.id }}"><span class="mr-1">&#10008;</span>Delete</button>
						<button  type="button" class="btn btn-success btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#addPaymentMethod"><span class="mr-1">&#10004;</span>Add</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-2 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllPaymentMethods"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-info btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('paymentMethod_buttons').style.display='none';">Hide<span class="ml-2">&#8682;</span></button>			
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('incomes_buttons').style.display='block';"><i class="icon-money mr-3"></i>Incomes</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="incomes_buttons" style="display: none;">
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteIncomesFromSelectedCategory{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete<span></button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllIncomes"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-info btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('incomes_buttons').style.display='none';">Hide<span class="ml-2">&#8682;</span></button>			
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('expenses_buttons').style.display='block';"><i class="icon-basket mr-3"></i>Expenses</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="expenses_buttons" style="display: none;">
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteExpensesFromSelectedCategory{{ expenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete<span></button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteAllExpenses"><span class="mr-1">&#10008;</span>Delete all</button>
						<button  type="button" class="btn btn-info btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('expenses_buttons').style.display='none';">Hide<span class="ml-2">&#8682;</span></button>			
					</div>

					<div class="mt-3 col-10 mx-auto">
						<button type="button" class="btn btn-secondary btn-lg col-10 mx-auto px-0"  style="white-space: pre-wrap;" onClick="document.getElementById('userProfile_buttons').style.display='block';"><i class="icon-user-3 mr-3"></i>User profile</button>
					</div>
					<div class="mt-1 col-10 mx-auto" id="userProfile_buttons" style="display: none;">								
						<button  type="button" class="btn btn-primary btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#editUserProfile"><i class="icon-pencil mr-1"></i>Edit</button>
						<button  type="button" class="btn btn-danger btn-lg col-10 col-md-5 col-lg-4 px-0" style="white-space: pre-wrap;" data-toggle="modal" data-target="#deleteUserProfile"><span class="mr-1">&#10008;</span>Delete</button>					
						<button  type="button" class="btn btn-info btn-lg col-10 col-lg-2 px-0" style="white-space: pre-wrap;" onClick="document.getElementById('userProfile_buttons').style.display='none';">Hide<span class="ml-2">&#8682;</span></button>			
					</div>
				</div>

				<div class="modal fade" id="editIncomeCategory{{ incomeCategory.id }}" tabindex="-1" aria-labelledby="editIncomeCategoryLabel{{ incomeCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="editIncomeCategoryLabel{{ incomeCategory.id }}"><i class="icon-pencil mr-1"></i>Edit category<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/editIncomeCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if incomeCategories %}					
												<option value selected disabled hidden>Select a category</option>                          					
													{% for incomeCategory in incomeCategories %}                             
														<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
													{% endfor %}
											{% else %}
                                				<option value selected disabled hidden>No income category</option>
                           					{% endif %}                            
										</select>
										
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_category"  placeholder="New name of category" required>	
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save changes</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteIncomeCategory{{ incomeCategory.id }}" tabindex="-1" aria-labelledby="deleteIncomeCategoryLabel{{ incomeCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteIncomeCategoryLabel{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete a category<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All incomes in this category will be deleted!</p>
							<p class="my-0">If you want to keep them, assign them to another category first.</p>
							<div class="modal-body">
								<form action="/settings/deleteIncomeCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if incomeCategories %}					
												<option value selected disabled hidden>Select a category</option>                          					
													{% for incomeCategory in incomeCategories %}                             
														<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
													{% endfor %}
											{% else %}
                                				<option value selected disabled hidden>No income category</option>
                           					{% endif %}                                  
										</select>									
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete category</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>				
				
				<div class="modal fade" id="addIncomeCategory" tabindex="-1" aria-labelledby="addIncomeCategoryLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-success text-white">
							<h5 class="modal-title" id="addIncomeCategoryLabel"><span class="mr-1">&#10004;</span>Add category<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/addIncomeCategory" method="post">
									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
										</div>
										<input type="text" class="form-control  rounded-right" name="new_category"  placeholder="New category" required>	
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-success">Add new category</button>
									</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllIncomeCategories" tabindex="-1" aria-labelledby="deleteAllIncomeCategoriesLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllIncomeCategoriesLabel"><span class="mr-1">&#10008;</span>Delete all income Categories<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All categories and incomes will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteAllIncomeCategories" method="post">	
										<input name="deleteAllIncomeCategories" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all categories</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="editExpenseCategory{{ expenseCategory.id }}" tabindex="-1" aria-labelledby="editExpenseCategoryLabel{{ expenseCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="editExpenseCategoryLabel{{ expenseCategory.id }}"><i class="icon-pencil mr-1"></i>Edit category<i class="icon-basket mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/editExpenseCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if expenseCategories %}	
												<option value selected disabled hidden>Select a category</option>
													{% for  expenseCategory in  expenseCategories %}                             
														<option value="{{ expenseCategory.id }}">{{  expenseCategory.name }}</option> 
													{% endfor %}
											{% else %}
												<option value selected disabled hidden>No expense category</option>
											{% endif %}      	                            
										</select>
										
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_category"  placeholder="New name of category" required>	
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save changes</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteExpenseCategory{{ expenseCategory.id }}" tabindex="-1" aria-labelledby="deleteExpenseCategoryLabel{{ expenseCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteExpenseCategoryLabel{{ expenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete a category<i class="icon-basket mr-1"></i></h5>							
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>							
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All expenses in this category will be deleted!</p>
							<p class="my-0">If you want to keep them, assign them to another category first.</p>
							<div class="modal-body">
								<form action="/settings/deleteExpenseCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if expenseCategories %}	
												<option value selected disabled hidden>Select a category</option>
													{% for  expenseCategory in  expenseCategories %}                             
														<option value="{{ expenseCategory.id }}">{{  expenseCategory.name }}</option> 
													{% endfor %}
											{% else %}
												<option value selected disabled hidden>No expense category</option>
											{% endif %}      	                            
										</select>						
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete category</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="addExpenseCategory" tabindex="-1" aria-labelledby="addExpenseCategoryLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-success text-white">
							<h5 class="modal-title" id="addExpenseCategoryLabel"><span class="mr-1">&#10004;</span>Add category<i class="icon-basket mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/addExpenseCategory" method="post">
									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
										</div>
										<input type="text" class="form-control  rounded-right" name="new_category"  placeholder="New category" required>	
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-success">Add new category</button>
									</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllExpenseCategories" tabindex="-1" aria-labelledby="deleteAllExpenseCategoriesLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllExpenseCategoriesLabel"><span class="mr-1">&#10008;</span>Delete all expense categories<i class="icon-basket ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All categories and expenses will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteAllExpenseCategories" method="post">	
										<input name="deleteAllExpenseCategories" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all categories</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="editPaymentMethod{{ paymentMethod.id }}" tabindex="-1" aria-labelledby="editPaymentMethodLabel{{ expenseCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="editPaymentMethodLabel{{ paymentMethod.id }}"><i class="icon-pencil mr-1"></i>Edit method<i class="icon-cc-visa mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/editPaymentMethod" method="post">
										<select class="choice rounded text-center" name="method" style="width: 100%;" required>
											{% if paymentMethods %}
												<option value selected disabled hidden>Choose payment method</option>
													{% for paymentMethod in paymentMethods %} 
														{% if paymentMethod.is_active != 'no' %}
															<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option> 
														{% endif %}
												{% endfor %}
											{% else %}
												<option value selected disabled hidden>No payment method</option>
											{% endif %}                            
										</select>
										
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
											</div>
											<input type="text" class="form-control  rounded-right" name="new_method"  placeholder="New name of method" required>	
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save changes</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deletePaymentMethod{{ paymentMethod.id }}" tabindex="-1" aria-labelledby="deletePaymentMethodLabel{{ paymentMethod.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deletePaymentMethodLabel{{ paymentMethod.id }}"><span class="mr-1">&#10008;</span>Delete a method<i class="icon-cc-visa mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>							
							<div class="modal-body">
								<form action="/settings/deletePaymentMethod" method="post">
										<select class="choice rounded text-center" name="method" style="width: 100%;" required>
											{% if paymentMethods %}
												<option value selected disabled hidden>Choose payment method</option>
													{% for paymentMethod in paymentMethods %} 
														{% if paymentMethod.is_active != 'no' %}
															<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option> 
														{% endif %}
												{% endfor %}
											{% else %}
												<option value selected disabled hidden>No payment method</option>
											{% endif %}                                   
										</select>									
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete method</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="addPaymentMethod" tabindex="-1" aria-labelledby="addPaymentMethodLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-success text-white">
							<h5 class="modal-title" id="addPaymentMethodLabel"><span class="mr-1">&#10004;</span>Add method<i class="icon-cc-visa mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/addPaymentMethod" method="post">
									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
										</div>
										<input type="text" class="form-control  rounded-right" name="new_method"  placeholder="New method" required>	
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-success">Add new method</button>
									</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllPaymentMethods" tabindex="-1" aria-labelledby="deleteAllPaymentMethodsLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllPaymentMethodsLabel"><span class="mr-1">&#10008;</span>Delete all delete payment methods<i class="icon-cc-visa ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All payment methods and expenses will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteAllPaymentMethods" method="post">	
										<input name="deleteAllPaymentMethods" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all payment methods</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteIncomesFromSelectedCategory{{ incomeCategory.id }}" tabindex="-1" aria-labelledby="deleteIncomesFromSelectedCategoryLabel{{ incomeCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteIncomesFromSelectedCategoryLabel{{ incomeCategory.id }}"><span class="mr-1">&#10008;</span>Delete incomes form selected category<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All incomes in this category will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteIncomesFromSelectedCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if incomeCategories %}					
												<option value selected disabled hidden>Select a category</option>                          					
													{% for incomeCategory in incomeCategories %}                             
														<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
													{% endfor %}
											{% else %}
                                				<option value selected disabled hidden>No income category</option>
                           					{% endif %}                                  
										</select>									
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete incomes from selected category</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllIncomes" tabindex="-1" aria-labelledby="deleteAllIncomesLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllIncomesLabel"><span class="mr-1">&#10008;</span>Delete all incomes<i class="icon-money ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All incomes will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteAllIncomes" method="post">	
										<input name="deleteAllIncomes" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all incomes</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteExpensesFromSelectedCategory{{ expenseCategory.id }}" tabindex="-1" aria-labelledby="deleteExpensesFromSelectedCategoryLabel{{ expenseCategory.id }}" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteExpensesFromSelectedCategoryLabel{{ ixpenseCategory.id }}"><span class="mr-1">&#10008;</span>Delete expenses form selected category<i class="icon-basket ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All expenses in this category will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteExpensesFromSelectedCategory" method="post">
										<select class="choice rounded text-center" name="category" style="width: 100%;" required>
											{% if expenseCategories %}					
												<option value selected disabled hidden>Select a category</option>                          					
													{% for expenseCategory in expenseCategories %}                             
														<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
													{% endfor %}
											{% else %}
                                				<option value selected disabled hidden>No expense category</option>
                           					{% endif %}                                  
										</select>									
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete expenses from selected category</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteAllExpenses" tabindex="-1" aria-labelledby="deleteAllExpensesLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteAllExpensesLabel"><span class="mr-1">&#10008;</span>Delete all expenses<i class="icon-basket ml-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All expenses will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteAllExpenses" method="post">	
										<input name="deleteAllExpenses" type="text" style="display: none;">	
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete all expenses</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="editUserProfile" tabindex="-1" aria-labelledby="editUserProfileLabe" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="editUserProfile"><i class="icon-pencil mr-1"></i>Edit profile<i class="icon-user-3 mr-1"></i></h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form action="/settings/editUserProfile" method="post">
										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-user-3"></i></span>
											</div>
											<input type="text" class="form-control  rounded-right" id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required >	
										</div>

										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-mail-3"></i></span>
											</div>
											<input type="email" class="form-control  rounded-right" id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required >	
										</div>

										<div class="input-group">	
											<div class="input-group-prepend ">
												<span class="input-group-text  rounded-left icon"><i class="icon-lock"></i></span>
											</div>
											<input type="password" class="form-control  rounded-right" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock" >											
										</div>
										<span id="helpBlock" class="help-block">Leave blank to keep current password</span>	

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save changes</button>
										</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deleteUserProfile" tabindex="-1" aria-labelledby="deleteUserProfileMethodLabel" aria-hidden="true">
												
					<div class="modal-dialog">
						<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
							<div class="modal-header bg-danger text-white">
							<h5 class="modal-title" id="deleteUserProfileLabel"><span class="mr-1">&#10008;</span>Delete a profile<i class="icon-user-3 mr-1"></i></h5>
							<button type="button" class="close text-white " data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<p class="my-0">Warning:</p>
							<p class="my-0">All datas and settings of this user will be deleted!</p>							
							<div class="modal-body">
								<form action="/settings/deleteUserProfile" method="post">								
									<input name="deleteProfile" type="text" style="display: none;">
									
									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-user-3"></i></span>
										</div>
										<input type="text" class="form-control  rounded-right" id="inputName" name="name" placeholder="Name" value="{{ user.name }}" disabled >	
									</div>

									<div class="input-group">	
										<div class="input-group-prepend ">
											<span class="input-group-text  rounded-left icon"><i class="icon-mail-3"></i></span>
										</div>
										<input type="email" class="form-control  rounded-right" id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" disabled >	
									</div>																		
										
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-danger">Delete profile</button>
									</div>
								</form>							
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

{% endblock %}    